@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: url(./resources/ella-olsson-rD3YrnhTmf0-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(4px);
    height: 100vh;
}